.carrinho-qtd{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.carrinho-btn{
    position: relative;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.carrinho-btn:hover, .carrinho-btn:focus, .carrinho-btn:active, .carrinho-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}