{% extends "./base.html" %}
{% load static %}
{% block title %}Pedidos de Mascaras{% endblock %}
{% block content %}
<main>
    <div class="container">
      <div class="row">
        <div class="album py-5">
          <div class="pb-3">
            <h1 class="h3">Popular</h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for produto in produtos %}
            <div class="col">
              <div class="card border-0">
                <div class="dropdown">
                  <a  href="{{ produto.get_absolute_url }}">
                   <img class="img-fluid" alt="Responsive image" src="{{ produto.imagem.url }}">
                  </a>
                  <div class="dropdown-content">
                    <a href="{{ produto.get_absolute_url }}" style="text-decoration: none;color: black">
                      <img class="img-static" alt="Static image" width="450" height="300" src="{{ produto.imagem.url }}">
                      <div class="desc">{{ produto.nomeProduto }}</div>
                    </a>
                  </div>
                </div>
                <div class="card-body px-0">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ produto.get_absolute_url }}"><span class="fw-bold">{{ produto.nomeProduto|slice:":50" }}</span></a>
                  </p>
                  <div class="fw-bold">R${{produto.preco}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}