{% extends "../../store/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

<style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6  mx-auto">
                            <form class="account-form p-4 rounded" action="{% url 'conta:login' %}" method="post">

                                {% csrf_token %}
                                <h3 class="mb-4">Sign In</h3>






                                {% if form.errors %}
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                           <li>{{ error }}</li>
                                            <div class="alert alert-primary" role="alert">
                                               Usuário ou senha inválido!
                                            </div>
                                        {% endfor %}
                                    {%  endfor %}
                                {% endif %}

                                <label class="form-label">{{ form.usuario.label}}</label>
                                {{ form.usuario }}

                                <label class="form-label">{{ form.senha.label}}</label>
                                {{ form.senha }}
                                <div class="d-grid gap-2">
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">Logar
                                    </button>
                                </div>
                                <p class="text-center pb-3">
                                    <a href="{% url "conta:registrar" %}">Criar uma conta</a>
                                </p>
                            </form>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}